/* Reset */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

:root {
  background-color: #F2F7FC;
}

header {
  background-color: #F2F7FC;
  /* position: sticky; */
  width: 100%;
  display: flex;

}

.left_panel {
  position: absolute;
  /* overflow-y: scroll; */
  background-color: #F2F7FC;
  display: flex;
  flex-direction: column;
  /* bottom: 0; */
  top: 0;
  width: 25%;
  /* height: 100vh; */
  
}

.sticky {
  background-color: #F2F7FC;
  position: fixed;
  width: 25%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  /* bottom: 0; */
}

.sticky::-webkit-scrollbar {
  width: 0;
  height: 0;
}

nav {
  background-color: #F2F7FC;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: max(7vw, 30px);
  margin-bottom: 3vh;
 
}

aside {
  background-color:#FFFFFF;
  width: 86%;
  /* height: 700px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  position: relative;
  margin: 7%;
  /* border: solid black 1px; */
  border-radius: 1vw;
}

aside p {
  color:#315B7C;
  font-size: 2vw;
  font-weight: 600;
  padding-left: 0.8rem;
  padding-top: 0.8rem;
  padding-right: 1.4rem;
  text-align: left;
}

aside img {
  width: 50%;
  /* height: 25%; */
}

aside a {
  cursor: pointer;
  background-color: #315B7C;
  color: #FFFFFF;
  padding: 1vw 3vw;
  font-size: 2vw;
  /* font-weight: 600; */
  margin-bottom: 5.5vw;
  border-radius: 1vw;
  animation-timing-function: ease-in-out;
  transition-duration: 200ms;
}

aside a:hover {
  transform: scale(1.05);
}

ul.navigation {
  /* background-color:aqua; */
  width: 88%;
  position: relative;
  list-style-type: none;
  margin-left: 2%;
  margin-right: 10%;
  padding: 4%;
  
}

.navigation li {
  display: flex;
  align-items: center;
  padding: 1vw;
  margin-bottom: 0.4rem;
  border-radius: 0.9vw;
  font-size: max(1.3vw, 12px);
  font-weight: 800;
 
}

.menu_icon {
  padding-left: 0%;
  padding-right: 6%;
  height: 2vw;
  width: 2vw;
}

.navigation a {
  border-radius: 0.9vw;
  color: #315B7C;
  text-decoration: none;
  cursor: pointer;
  fill: #FF5561
  
}

.menu_icon:hover {
  fill: #FFFFFF;
}

.navigation a:hover {
  color: #FFFFFF;
  fill: #FFFFFF;
}

#active {
  background-color: #7E9AB0; 
  color: #FFFFFF;
  fill: #FFFFFF;
}

.navigation li:hover {
  background-color: #B1C2CF;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.search {
  display: flex;
  position: fixed;
  width: 75%;
  left: 25%;
  height: 7vw;
  min-height: 30px;
  background-color:#F2F7FC;
  z-index: 20;
  align-items: center;
}

.search input {
  background-color:#FFFFFF;
  height: 50%;
  width: 59%;
  padding-left: 2%;
  border-bottom-left-radius: 0.9vw;
  border-top-left-radius: 0.9vw;
  outline: none;
  font-size: 1.1vw;
}

.search input::placeholder {
  color: #B1C2CF;
  font-size: 1.1vw;
  transform:translateY(0.1vw);
  
}

.search button {
  cursor: pointer;
  fill: #B1C2CF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#FFFFFF;
  height: 50%;
  width: min(6%, 60px);
  border-bottom-right-radius: 0.9vw;
  border-top-right-radius: 0.9vw;
  overflow: hidden;
}

.search svg {
  background-color: #FFFFFF;
}

.search svg:hover {
  transform: scale(1.1);
}

.profile {
  display: flex;
  /* justify-content: end; */
  align-items: center;
  background-color:#F2F7FC;
  height: 100%;
  width: 33%;
}

.profile img {
  position: relative;
  margin-left: 6%;
  height: 59%;
  /* border-radius: 5vw;
  border: solid black 0.2rem; */
}

.profile label {
  padding-left: 3%;
}

.profile_name {
  font-size: 1.2vw;
  font-weight: 700;
}

.profile_position {
  font-size: 1vw;
  color: #666666;
}

.shell_main {
  position: fixed;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color:coral;
  width: 73%;
  height: 100%;
  top: max(7vw, 30px);
  left: 25%;
  border-radius: 10px;
}

.shell_main::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main {
  position: absolute;
  width: 100%;
}

.top_buttons {
  background-color:red;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: end;
}

.top_buttons a {
  padding: 1%;
}

section.theses {
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 4%;
  padding-bottom: 3%;

}

.thesis {
  background-color:brown;
  position: relative;
  width: 50%;
  height: 250px;
  margin: 2vh;
  
}

.thesis:nth-child(1) {
  align-self: start;
}

.thesis:nth-child(2n) {
  align-self: end;
}

.caption {
  background-color:rgb(167, 176, 36);
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.possibilities {
  background-color:rgb(153, 36, 176);
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.possibility {
  background-color:brown;
  position: relative;
  width: 28%;
  height: 100px;
  margin: 2vh;
}

.feedback {
  background-color:forestgreen;
  display: flex;
  position: relative;
  width: 30%;
  height: 200px;
  margin-left: 8%;
  margin-top: 4%;
  margin-bottom: 10%;
}
