/* Reset */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

@font-face {
  font-family: 'Stem-Bold';
  src: url('resources/fonts/Stem-Bold.woff2') format('woff2'),
       url('resources/fonts/Stem-Bold.woff') format('woff'),
       url('resources/fonts/Stem-Bold.ttf') format('otf');
}

@font-face {
  font-family: 'Stem-Medium';
  src: url('resources/fonts/Stem-Medium.woff2') format('woff2'),
       url('resources/fonts/Stem-Medium.woff') format('woff'),
       url('resources/fonts/Stem-Medium.ttf') format('otf');
}

@font-face {
  font-family: 'Manrope-Regular';
  src: url('resources/fonts/Manrope-Regular.woff2') format('woff2'),
       url('resources/fonts/Manrope-Regular.woff') format('woff'),
       url('resources/fonts/Manrope-Regular.otf') format('otf');
}

:root {
  background-color: #F2F7FC;
  --background_color: #F2F7FC;
  --main_text_color: #121212;
  --blueaccent_color: #315B7C;
  --white-color: #FFFFFF; 
  --redaccent_color: #FF5561;
  --hover_color: #B1C2CF;
  --active_color: #7E9AB0; 
}

header {
  background-color: var(--background_color, #F2F7FC);
  width: 100%;
  display: flex;

}

h1 {
  font-size: 4vw;
  font-family: 'Stem-Bold';
  line-height: 100%;
  letter-spacing: 0%;
}

h2 {
  font-size: 3vw;
  font-family: 'Stem-Bold';
  line-height: 120%;
  letter-spacing: 0%;
}

h3 {
  font-size: 1.9vw;
  font-family: 'Stem-Bold';
  line-height: 120%;
  letter-spacing: 0%;
}

p, a, button, li, input, input::placeholder {
  font-size: 1.15vw;
  font-family: 'Manrope-Regular'; /*больше похоже, что он использоваля в макете*/
  /* font-family: 'Stem-Medium'; */
  line-height: 150%;
  letter-spacing: 0%;
}

.left_panel {
  position: absolute;
  background-color: var(--background_color, #F2F7FC);
  display: flex;
  flex-direction: column;
  top: 0;
  width: 25%;
}

.sticky {
  background-color: var(--background_color, #F2F7FC);
  position: fixed;
  width: 25%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.sticky::-webkit-scrollbar {
  width: 0;
  height: 0;
}

nav {
  background-color: var(--background_color, #F2F7FC);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: max(7vw, 30px);
  margin-bottom: 3vh;
 
}

aside {
  background-color:#FFFFFF;
  width: 86%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  position: relative;
  margin: 7%;
  border-radius: 1vw;
}

aside h3 {
  color:var(--blueaccent_color, #315B7C);
  padding-left: 0.8rem;
  padding-top: 0.8rem;
  padding-right: 1.4rem;
  text-align: left;
  font-family: 'Stem-Bold';
  line-height: 120%;
  letter-spacing: 0%;
}

aside img {
  width: 50%;
}

aside a {
  cursor: pointer;
  background-color: var(--blueaccent_color, #315B7C);
  color: #FFFFFF;
  padding: 1vw 3vw;
  margin-bottom: 5.5vw;
  border-radius: 1vw;
  animation-timing-function: ease-in-out;
  transition-duration: 200ms;
}

aside a:hover {
  transform: scale(1.05);
}

ul.navigation {
  width: 88%;
  position: relative;
  list-style-type: none;
  margin-left: 2%;
  margin-right: 10%;
  padding: 4%;
  
}

.navigation li {
  display: flex;
  align-items: center;
  padding: 1vw;
  border-radius: 0.9vw;
  font-size: 1.3vw;
  font-family: 'Stem-Medium';
  font-weight: 500;
 
}

.menu_icon {
  padding-left: 0%;
  padding-right: 6%;
  height: 2vw;
  width: 2vw;
}

.navigation a {
  border-radius: 0.9vw;
  color: var(--blueaccent_color, #315B7C);
  text-decoration: none;
  cursor: pointer;
  fill: #FF5561;
}

.menu_icon:hover {
  fill: #FFFFFF;
}

.navigation a:hover {
  color: #FFFFFF;
  fill: #FFFFFF;
}

#active {
  background-color: #7E9AB0; 
  color: #FFFFFF;
  fill: #FFFFFF;
}

.navigation li:hover {
  background-color: #B1C2CF;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.search {
  display: flex;
  position: fixed;
  width: 75%;
  left: 25%;
  height: 7vw;
  min-height: 30px;
  background-color:var(--background_color, #F2F7FC);
  z-index: 20;
  align-items: center;
}

.search .mobile_icon {
  display: none;
}

.search input {
  background-color:#FFFFFF;
  height: 50%;
  width: 59%;
  padding-left: 2%;
  border-bottom-left-radius: 0.9vw;
  border-top-left-radius: 0.9vw;
  outline: none;
}

.search input::placeholder {
  color: #B1C2CF;
  transform:translateY(0.1vw);
  
}

.search button {
  cursor: pointer;
  fill: #B1C2CF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#FFFFFF;
  height: 50%;
  width: min(6%, 60px);
  border-bottom-right-radius: 0.9vw;
  border-top-right-radius: 0.9vw;
  overflow: hidden;
}

.search svg {
  background-color: #FFFFFF;
}

.search svg:hover {
  transform: scale(1.1);
}

.profile {
  display: flex;
  align-items: center;
  background-color:var(--background_color, #F2F7FC);
  height: 100%;
  width: 33%;
}

.profile img {
  position: relative;
  margin-left: 6%;
  height: 59%;
}

.profile label {
  padding-left: 3%;
}

.profile_name {
  font-weight: 800;
}

.profile_position {
  font-family: 'Manrope-Regular';
  font-size: 1vw;
  color: #666666;
}

.shell_main {
  position: fixed;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color:coral;
  width: 73%;
  height: 100%;
  top: max(7vw, 30px);
  left: 25%;
  border-radius: 10px;
}

.shell_main::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main {
  position: absolute;
  width: 100%;
  height: auto;
  background-image: 
  url(resources/media/background_image2.png),
  linear-gradient(rgb(36, 35, 40), rgb(36, 35, 40));
  background-repeat: no-repeat;
  background-size: 100%;
}

.top_buttons {
  display: flex;
  width: 100%;
  height: 3vw;;
  justify-content: end;
  margin-top: 2.5vw;
}

.top_buttons a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  cursor: pointer;
  margin-right: 2vw;
  padding-top: 0rem;
  font-family: 'Stem-Medium';
  transition-duration: 200ms;
}


#active_button {
  background-image: linear-gradient(#FFFFFF,#FFFFFF);
  background-size: 50% 0.1rem;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.top_buttons a:hover {
  transform: scale(1.05);
}

section.theses {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 7%;
  padding-bottom: 3%;

}

.thesis .headline {
  display: flex;
  justify-content: start;
  align-items: center;
  
}

.scope:hover {
  transition-duration: 1000ms;
}
.scope:hover {
  transform: scale(1.1);
}

.thesis label {
  display: flex;
  align-items: center;
  font-size: 10vw;
  color: #ff55605f;
  margin-bottom: 1vw;
  margin-right: 1.3vw;
  font-family: 'Stem-Medium';
  letter-spacing: 0%;
}

label.module {
  position: absolute;
  font-size: 1.9vw;
  color: #FFFFFF;
}

.thesis {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  margin: 1vw 5.5vw;
}

.thesis h1 {
  text-align: start;
  margin-bottom: 1vw;
}

.thesis h3 {
  margin-bottom: 3vw;
}

.thesis p {
  margin-bottom: 1vw;
}

.thesis ul {
  list-style-position: inside;
  list-style-type: square;
}

.thesis ul li {
  padding-bottom: 0.2rem;
  background-position: 0 0;

}

.thesis a {
  cursor: pointer;
  width: auto;
  background-color: #FF5561;
  padding: 1vw 2vw;
  border-radius: 1vw;
  transition-duration: 200ms;
}

.thesis a:hover {
  transform: scale(1.03);
}


.thesis:nth-child(1) {
  align-self: start;
}

.thesis:nth-child(2n) {
  align-self: end;
}

.caption {
  position: relative;
  left: 15%;
  display: flex;
  width: 70%;
  justify-content: center;
  text-align: center;
}

.caption h3 {
  color:#FFFFFF;
  margin-top: 4vw;
  margin-bottom: 1vw;
}

.possibilities {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5vw;
}

.possibility {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 27%;
  margin: 1vw 2vw;
}

.possibility:hover {
  transform: scale(1.03);
}

.possibility img {
  width: 20%;
}

.possibility p {
  color: #FFFFFF;
  text-align: center;
  margin-top: 1vw;
}

.feedback {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  margin-left: 8%;
  margin-top: 4%;
  margin-bottom: 10%;
}

.feedback h2 {
  margin-bottom: 3vw;
  text-align: center;
  border-left: solid var(--blueaccent_color, #315B7C) 0.5rem;
}

.mans {
  display: flex;
  gap: 20%;
}

.man {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  flex-wrap: wrap;
}

.man_photo {
  height: 7vw;
  border-radius: 50%;
  border: solid #FFFFFF 0.3rem;

}

.man_icon {
  height: 3vw;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {

  h1 {
    font-size: 4.5vh;
  }
  
  h2 {
    font-size: 3vh;
  }
  
  h3 {
    font-size: 2.5vh;
  }
  
  p, a, button, li, input, input::placeholder {
    font-size: 1.8vh;
  }

  .left_panel, .search input, .search button, .profile {
    display: none;
  }
  
  .search {
    display: flex;
    justify-content: end;
    align-items: center;
    left: 0;
    width: 100%;
    height: 8%;
  }
  .search .mobile_icon {
    display: flex;
    margin: 0 2vh;
    align-items: center;
  }

  .mobile_icon img {
    width: 5vh;
  }

  .shell_main {
    width: 100%;
    left: 0;
    top: 8%;
    border-radius: 0;
  }

  .main {
    background-image: linear-gradient(rgba(36, 35, 40, 0.1) 80vw, rgba(36, 35, 40, 1), rgba(36, 35, 40, 1)),
      url(resources/media/background_image2.png),
      linear-gradient(rgb(36, 35, 40), rgb(36, 35, 40));
    background-size: 300%;
  }

  .top_buttons {
    height: 4vh;
    gap: 3vh;
    justify-content: center;
    margin-top: 2.2vh;
  }
  
  .top_buttons a {
    margin-right: 0;
  }
  
  section.theses {
    padding-top: 4vh;
  }
  
  .thesis .headline {
    flex-wrap: wrap;
  }
  
  .thesis label {
    font-size: 17vh;
    margin-bottom: 1vh;
    margin-right: 1.3vh;
  }
  
  label.module {
    font-size: 3vh;
  }
  
  .thesis {
    width: 80%;
    margin: 3vh 2.5vh;
  }

  .thesis:nth-child(1) {
    align-self: start;
  }
  
  .thesis:nth-child(2n) {
    align-self: start;
  }
  
  .thesis h1 {
    margin-top: -3vh;
    margin-bottom: 3vh;
  }
  
  .thesis h3 {
    width: 60%;
    margin-bottom: 9vh;
  }
  
  .thesis p {
    margin-bottom: 2vh;
  }
  
  .thesis ul li {
    font-size: 1.4vh;
  
  }
  
  .thesis a {
    padding: 1vh 3vh;
    border-radius: 1vh;
  }

  .school_for_mobile {
    width: 100vw;
  }

  h1.school_for_mobile {
    padding-bottom: 2vh;
  }

  .caption {
    left: 5%;
    width: 90%;
  }
  
  .caption h3 {
    font-family: 'Manrope-Regular';
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 0vh;
    line-height: 1.9rem;
  }

  .possibilities {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
  }
  
  .possibility {
    width: 75%;
    margin: 2vh 2vh;
  }
  
  .possibility img {
    width: 20%;
  }
  
  .possibility p {
    color: #FFFFFF;
    text-align: center;
    margin-top: 2.5vh;
  }

  .feedback {
    width: 100%;
    height: 42vh;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  
  .feedback h2 {
    margin-left: 3vh;
    margin-bottom: 5vh;
    text-align: left;
    padding-left: 2vh;
    font-size: 4.5vh;
  }
  
  .mans {
    justify-content: center;
    gap: 8%;
  }
  
  .man {
    width: 31%;
  }
  
  .man_photo {
    height: 10vh;
    border: solid var(--white-color, #FFFFFF) 0.4rem;
  
  }

  .man_icon {
    height: 5vh;
  }

}