/* Reset */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

header {
  background-color: #F2F7FC;
  /* position: fixed; */
  width: 100%;

}

.left_panel {
  background-color: #F2F7FC;
  display: flex;
  position: fixed;
  width: 25%;
  height: 100%;
  flex-direction: column;
}

nav {
  background-color: #F2F7FC;
  width: 100%;
  display: flex;
  position: relative;
  padding-top: max(7vw, 30px);
  margin-bottom: 3vh;
 
}

ul.navigation {
  /* background-color:aqua; */
  width: 88%;
  position: relative;
  list-style-type: none;
  margin-left: 2%;
  margin-right: 10%;
  padding: 4%;
  
}

.navigation li {
  display: flex;
  align-items: center;
  padding: 1.1rem;
  margin-bottom: 0.4rem;
  border-radius: 0.9vw;
  font-size: max(1.3vw, 12px);
  font-weight: 500;
 
}

.menu_icon {
  padding-left: 0%;
  padding-right: 6%;
  height: 2vw;
  width: 2vw;
}

.navigation a {
  border-radius: 0.9vw;
  color: #315B7C;
  text-decoration: none;
  cursor: pointer;
  fill: #FF5561
  /* background-image: url() 20px 20px; */
  
}

.menu_icon:hover {
  fill: #FFFFFF;
}

.navigation a:hover {
  color: #FFFFFF;
  fill: #FFFFFF;
}

#active {
  background-color: #7E9AB0; 
  color: #FFFFFF;
  fill: #FFFFFF;
}

.navigation li:hover {
  background-color: #B1C2CF;
  color: #FFFFFF;
  fill: #FFFFFF;
}

aside {
  background-color:#FFFFFF;
  width: 86%;
  height: 400px;
  display: flex;
  position: relative;
  margin: 7%;
}

.search {
  display: flex;
  position: fixed;
  width: 75%;
  left: 25%;
  height: 7vw;
  min-height: 30px;
  background-color:#F2F7FC;
  z-index: 20;
  align-items: center;
  
}

.search input {
  background-color:#FFFFFF;
  height: 50%;
  width: 59%;
  padding-left: 2%;
  border-bottom-left-radius: 0.9vw;
  border-top-left-radius: 0.9vw;
  outline: none;
  font-size: 1.1vw;
}

.search input::placeholder {
  color: #B1C2CF;
  font-size: 1.1vw;
  transform:translateY(0.1vw);
  
}

.search button {
  cursor: pointer;
  fill: #B1C2CF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#FFFFFF;
  height: 50%;
  width: min(6%, 60px);
  border-bottom-right-radius: 0.9vw;
  border-top-right-radius: 0.9vw;
}

.search svg:hover {
  transform: scale(1.1);
}



.profile {
  display: flex;
  /* justify-content: end; */
  align-items: center;
  background-color:#F2F7FC;
  height: 100%;
  width: 33%;
}

.profile img {
  position: relative;
  margin-left: 6%;
  height: 59%;
  /* border-radius: 5vw;
  border: solid black 0.2rem; */
}

.profile label {
  padding-left: 3%;
}

.profile_name {
  font-size: 1.2vw;
  font-weight: 700;
}

.profile_position {
  font-size: 1vw;
  color: #666666;
}


.main {
  position: absolute;
  background-color:coral;
  width: 75%;
  /* height: 2000px; */
  top: max(5vh, 30px);
  left: 25%;
  z-index: 0;
}

section.theses {
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 7%;
  padding-bottom: 3%;

}

.thesis {
  background-color:brown;
  position: relative;
  width: 50%;
  height: 100px;
  margin: 2vh;
  
}

.thesis:nth-child(1) {
  align-self: start;
}

.thesis:nth-child(2n) {
  align-self: end;
}

section.menu {
  background-color:darkslateblue;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.direction {

  box-sizing: border-box;
  background-color:brown;
  position: relative;
  height: 100px;
  margin: 1%;
}

.first_row {
  width: 30%;
}

#first_el {
  width: 55%;
}

#second_el {
  width: 39%;
}

.postscript {
  background-color:forestgreen;
  display: flex;
  position: relative;
  width: 50%;
  height: 200px;
  margin-left: 8%;
  margin-top: 8%;
}

.feedback {
  background-color:forestgreen;
  display: flex;
  position: relative;
  width: 30%;
  height: 200px;
  margin-left: 8%;
  margin-top: 4%;
  margin-bottom: 10%;
}

