/* Reset */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

@font-face {
  font-family: 'Stem-Bold';
  src: url('resources/fonts/Stem-Bold.woff2') format('woff2'),
       url('resources/fonts/Stem-Bold.woff') format('woff'),
       url('resources/fonts/Stem-Bold.ttf') format('otf');
}

@font-face {
  font-family: 'Stem-Medium';
  src: url('resources/fonts/Stem-Medium.woff2') format('woff2'),
       url('resources/fonts/Stem-Medium.woff') format('woff'),
       url('resources/fonts/Stem-Medium.ttf') format('otf');
}

@font-face {
  font-family: 'Manrope-Regular';
  src: url('resources/fonts/Manrope-Regular.woff2') format('woff2'),
       url('resources/fonts/Manrope-Regular.woff') format('woff'),
       url('resources/fonts/Manrope-Regular.otf') format('otf');
}

:root {
  background-color: #F2F7FC;
  --background_color: #F2F7FC;
  --main_text_color: #121212;
  --blueaccent_color: #315B7C;
  --white-color: #FFFFFF;
  --redaccent_color: #FF5561;
  --hover_color: #B1C2CF;
  --active_color: #7E9AB0;
}

header {
  background-color: var(--background_color, #F2F7FC);
  width: 100%;
  display: flex;

}

h1 {
  font-size: 4vw;
  font-family: 'Stem-Bold';
  line-height: 100%;
  letter-spacing: 0%;
}

h2 {
  font-size: 3vw;
  font-family: 'Stem-Bold';
  line-height: 120%;
  letter-spacing: 0%;
}

h3 {
  font-size: 1.9vw;
  font-family: 'Stem-Bold';
  line-height: 120%;
  letter-spacing: 0%;
}

p, a, button, li, input, input::placeholder {
  font-size: 1.15vw;
  font-family: 'Manrope-Regular'; /*больше похоже, что он использоваля в макете*/
  /* font-family: 'Stem-Medium'; */
  line-height: 150%;
  letter-spacing: 0%;
}

.left_panel {
  position: absolute;
  background-color: var(--background_color, #F2F7FC);
  display: flex;
  flex-direction: column;
  top: 0;
  width: 25%;
  
}

.sticky {
  background-color: var(--background_color, #F2F7FC);
  position: fixed;
  width: 25%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.sticky::-webkit-scrollbar {
  width: 0;
  height: 0;
}

nav {
  background-color: var(--background_color, #F2F7FC);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: max(7vw, 30px);
  margin-bottom: 3vh;
 
}

aside {
  background-color:var(--white-color, #FFFFFF);
  width: 86%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  position: relative;
  margin: 7%;
  border-radius: 1vw;
}

aside h3 {
  color: var(--blueaccent_color, #315B7C);
  padding-left: 0.8rem;
  padding-top: 0.8rem;
  padding-right: 1.4rem;
  text-align: left;
  font-family: 'Stem-Bold';
  line-height: 120%;
  letter-spacing: 0%;
}

aside img {
  width: 50%;
}

aside a {
  cursor: pointer;
  background-color: var(--blueaccent_color, #315B7C);
  color: var(--white-color, #FFFFFF);
  padding: 1vw 3vw;
  margin-bottom: 5.5vw;
  border-radius: 1vw;
  animation-timing-function: ease-in-out;
  transition-duration: 200ms;

}

aside a:hover {
  transform: scale(1.05);
}

ul.navigation {
  width: 88%;
  position: relative;
  list-style-type: none;
  margin-left: 2%;
  margin-right: 10%;
  padding: 4%;
  
}

.navigation li {
  display: flex;
  align-items: center;
  padding: 1vw;
  border-radius: 0.9vw;
  font-size: 1.3vw;
  font-family: 'Stem-Medium';
  font-weight: 500;
 
}

.menu_icon {
  padding-left: 0%;
  padding-right: 6%;
  height: 2vw;
  width: 2vw;
}

.navigation a {
  border-radius: 0.9vw;
  color: var(--blueaccent_color, #315B7C);
  text-decoration: none;
  cursor: pointer;
  fill: var(--redaccent_color, #FF5561);
}

.menu_icon:hover {
  fill: var(--white-color, #FFFFFF);
}

.navigation a:hover {
  color: var(--white-color, #FFFFFF);
  fill: var(--white-color, #FFFFFF);
}

#active {
  background-color: #7E9AB0; 
  color: var(--white-color, #FFFFFF);
  fill: var(--white-color, #FFFFFF);
}

.navigation li:hover {
  background-color: var(--hover_color, #B1C2CF);
  color: var(--white-color, #FFFFFF);
  fill: var(--white-color, #FFFFFF);
}

.search {
  display: flex;
  position: fixed;
  width: 75%;
  left: 25%;
  height: 7vw;
  min-height: 30px;
  background-color:var(--background_color, #F2F7FC);
  z-index: 20;
  align-items: center;
}

.search .mobile_icon {
  display: none;
}

.search input {
  background-color:var(--white-color, #FFFFFF);
  height: 50%;
  width: 59%;
  padding-left: 2%;
  border-bottom-left-radius: 0.9vw;
  border-top-left-radius: 0.9vw;
  outline: none;
  font-size: 1.1vw;
}

.search input::placeholder {
  color: var(--hover_color, #B1C2CF);
  transform:translateY(0.1vw);
  
}

.search button {
  cursor: pointer;
  fill: var(--hover_color, #B1C2CF);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:var(--white-color, #FFFFFF);
  height: 50%;
  width: min(6%, 60px);
  border-bottom-right-radius: 0.9vw;
  border-top-right-radius: 0.9vw;
  overflow: hidden;
}

.search svg {
  background-color: var(--white-color, #FFFFFF);
}

.search svg:hover {
  transform: scale(1.1);
}

.profile {
  display: flex;
  align-items: center;
  background-color:var(--background_color, #F2F7FC);
  height: 100%;
  width: 33%;
}

.profile img {
  position: relative;
  margin-left: 6%;
  height: 59%;
}

.profile label {
  padding-left: 3%;
}

.profile_name {
  font-weight: 800;
}

.profile_position {
  font-family: 'Manrope-Regular';
  font-size: 1vw;
  color: #666666;
}

.shell_main {
  position: fixed;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 73%;
  height: 100%;
  top: max(7vw, 30px);
  left: 25%;
  border-radius: 10px;
}

.shell_main::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main {
  position: absolute;
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgba(36, 35, 40, 0.1) 50vw, rgba(36, 35, 40, 1), rgba(36, 35, 40, 1)),
  url(resources/media/background_image1.png),
  linear-gradient(rgb(36, 35, 40), rgb(36, 35, 40));
  background-repeat: no-repeat;
  background-size: 100%;
}

section.theses {
  color: var(--white-color, #FFFFFF);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 11%;
  padding-bottom: 3%;

}

.thesis {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  margin: 1vw 5.5vw;
}

.thesis h1 {
  margin-bottom: 1vw;
}

.thesis h3 {
  margin-bottom: 3vw;
}

.thesis a {
  cursor: pointer;
  width: auto;
  background-color: var(--redaccent_color, #FF5561);
  padding: 1vw 2vw;
  border-radius: 1vw;
  transition-duration: 200ms;
}

.thesis a:hover {
  transform: scale(1.03);
}



.thesis:nth-child(1) {
  align-self: start;
}

.thesis:nth-child(2n) {
  align-self: end;
}

section.menu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.direction {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  opacity: 0.8;
  background-color: var(--background_color, #F2F7FC);
  border-radius: 1vw;
  padding: 1.5vw;
  position: relative;
  height: 16vw;
  margin: 1%;
}

.direction:hover {
  transform: scale(1.03);
}

.direction a {
  cursor: pointer;
  position: absolute;
  color: var(--blueaccent_color, #315B7C);
  display: flex;
  align-items: center;
  bottom: 10%;
  right: 5vw;
  height: 12%;
}

.direction img {
  position: absolute;
  bottom: 10%;
  right: 1vw;
  height: 12%;
}

.direction h3 {
  color: var(--blueaccent_color, #315B7C);
  margin-bottom: 1.9vw;
}

.direction p {
  color: var(--main_text_color, #121212);
}

.first_row {
  width: 31%;
}

#first_el {
  width: 56%;
}

#second_el {
  width: 39%;
}

.postscript {
  color: var(--white-color, #FFFFFF);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  margin-left: 8%;
  margin-top: 8%;
}

.postscript h1 {
  margin-bottom: 2vw;
}

.postscript ul {
  list-style-position: inside;
  list-style-type: square;
}

.postscript ul li {
  padding-bottom: 0.2rem;
  background-position: 0 0;

}

.feedback {
  color: var(--white-color, #FFFFFF);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  margin-left: 8%;
  margin-top: 4%;
  margin-bottom: 10%;
}

.feedback h2 {
  margin-bottom: 3vw;
  text-align: center;
  border-left: solid var(--blueaccent_color, #315B7C) 0.5rem;
}

.mans {
  display: flex;
  gap: 20%;
}

.man {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  flex-wrap: wrap;
}

.man_photo {
  height: 7vw;
  border-radius: 50%;
  border: solid var(--white-color, #FFFFFF) 0.3rem;

}

.man_icon {
  height: 3vw;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {

  .left_panel, .search input, .search button, .profile {
    display: none;
  }
  
  .search {
    display: flex;
    justify-content: end;
    align-items: center;
    left: 0;
    width: 100%;
    height: 8%;
  }
  .search .mobile_icon {
    display: flex;
    margin: 0 2vh;
    align-items: center;
  }

  .mobile_icon img {
    width: 5vh;
  }

  .shell_main {
    width: 100%;
    left: 0;
    top: 8%;
    border-radius: 0;
  }
  
}
